* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  min-height: 1000px;
}

p {
  font-weight: 300;
  color: #111;
}

section {
  padding: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transition: 0.2s;
}

.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky a {
  color: #111;
}

.sticky.logo {
  color: #111;
}

.logo {
  color: #111;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.logo:hover {
  color: #ff0157;
}

.navigation {
  position: relative;
  display: flex;
}

.navigation li {
  list-style: none;
  margin-left: 30px;
}

.navigation li a {
  text-decoration: none;
  color: #111;
  font-weight: 300;
}

.navigation li a:hover {
  color: #ff0157;
  cursor: pointer;
}

header.sticky ul li a {
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/Quotefancy-98092-3840x2160.jpg);
  background-size: cover;
}

.banner:hover {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content {
  max-width: 900px;
  text-align: center;
}

.content h2 {
  font-size: 70px;
  color: #fff;
}

.content h2:hover {
  color: #111;
  transition: all 0.6s ease;
}

.content p {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.content p:hover {
  transition: all 2s ease-in-out;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.col50 {
  position: relative;
  width: 48%;
}

.col50 img:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.2);
  opacity: 0.9;
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.imgbx {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title p {
  padding-top: 15px;
}

.title p:hover {
  transition: all 1.5s cubic-bezier();
}

.Content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.element {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.box {
  width: 400px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.imgbx1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgbx1 img {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.imgbx1 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.text {
  padding: 15px 0 5px;
}

.text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}

.text h3:hover {
  color: #ff0157;
  cursor: pointer;
}

.imgbx2 {
  position: relative;
  width: 100%;
}

.imgbx2 img {
  position: relative;
  width: 100%;
  height: 400px;
  left: 0;
  object-fit: cover;
}

.imgbx2 img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.titletext {
  color: #fff;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titletext span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.titlewhite p {
  color: #fff;
}

.sub-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.people {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.box1 {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgbx3 {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 30%;
  overflow: hidden;
}

.imgbx3 img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  object-fit: cover;
}

.imgbx3 img:hover {
  transform: scale(1.1);
}
.rules_content {
  font-size: 21px;
  font-style: italic;
  letter-spacing: 2px;
  padding: 2px;
}
.sub-text {
  text-align: center;
}

.sub-text p {
  color: #666;
  font-style: italic;
  font-size: 1.3em;
}

.sub-text h4 {
  margin-top: 20px;
  font-size: 1em;
  color: #ff0157;
  font-size: 18px;
  font-weight: 600;
}

.sub-text h4:hover {
  opacity: 0.7;
  cursor: pointer;
}
.object_cover img {
  position: absolute;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
  border-radius: solid 20px;
}
.slider .wrapper {
  padding-left: 300px;
}
.slider .item::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 450px;
  height: 300px;
  z-index: 1;
  filter: blur(50px);
}
.slider .wrapper .image {
  border-radius: solid 20px;
}

.text_content :where(h2, h3) span:first-child {
  font-weight: 300;
  columns: var(--light-text-color);
}

.text_content :where(h2, h3) span:last-child {
  color: var(--secondary-dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary-dark-color);
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  padding: 10px 0;
  transition: background 0.3s;
}

.header .logo {
  font-size: 2rem;
}

.navigation {
  display: flex;
  gap: 15px;
}

.menuToggle {
  display: none;
}

/* Các phần responsive cho kích thước nhỏ hơn 768px (tablet, mobile) */
@media (max-width: 768px) {
  .menuToggle {
    display: block; /* Hiển thị nút toggle trên tablet và mobile */
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navigation {
    display: none; /* Ẩn navigation khi chưa bấm nút menu */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navigation.active {
    display: flex;
  }

  .navigation li a {
    display: block;
    padding: 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 30vh;
  }
}

/* Responsive cho phần about và các section */
.about .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  .about .row {
    flex-direction: column;
  }

  .about .col50 {
    width: 100%;
  }
}

.explore .Content {
  display: flex;
  flex-wrap: wrap;
}

.element {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .element {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .element {
    flex: 1 1 100%;
  }
}

#detail .slider {
  max-width: 100%;
}

@media (max-width: 768px) {
  .rules_content {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .slider .item {
    position: relative;
    height: 850px;
  }
  .slider > div > .wrapper {
    width: calc(100% - (300px_2em));
    margin-left: auto;
  }
}
